body{    
    background: #F5DF4E;
    background-size: 100% auto;
    background-repeat: repeat-y;
    overflow-x: hidden;
}

a, a :checked{
    color:white;
    text-decoration: none;
}

a :hover{
    color:#555;
}

a :hover >p{
    color:#555;
    text-decoration:underline;
    text-decoration-color:#555;}

a :hover >img{opacity: 1.0;}

div >img {width:inherit;
     position: absolute;
     opacity:  0.8;}

div >p {position: absolute;
    white-space: nowrap;}

@media screen and (max-width: 640px) {
    body {    
        background-image: url(../img/bg_small.svg);
    }

    
    .img_home{
        position: absolute;
        width:25vw;
        height:auto;
        resize: both;
        margin-left: 6vw;
        margin-top: 0;
        opacity: 1.0;
    }

    .product{
        position: absolute;
        width:65vw;
        height:auto;
        margin-left:40vw;
        margin-top: 12vw;
    }
    
    
    div.product>p{
        margin-top: 20vw;
    }

    .order{
        position: absolute;
        width:45vw;
        height:auto;
        margin-left:6vw;
        margin-top:80vw;
    }

    div.order>p{
        margin-left:32vw;
        margin-top: -5vw;
    }
    
    .contact{
        position: absolute;
        width:45vw;
        height:auto;
        margin-left:42vw;
        margin-top: 92vw;
    }
    
    div.contact>p{
        margin-left:32vw;
        margin-top: 8vw;
    }
    
    .blog{
        position: absolute;
        width:45vw;
        height:auto;
        margin-left: 6vw;
        margin-top: 131vw;
    }
    div.blog>p{
        margin-left:38vw;
        margin-top: 18vw;
    }
}

@media screen and (min-width:641px) and (max-width: 1079px) {
    body {    
        background-image: url(../img/bg_medium.svg);
    }

    .img_home{
        position: absolute;
        width:16vw;
        height:auto;
        resize: both;
        margin-left: 42vw;
        margin-top: 0;
    }

    .product{
        position: absolute;
        width:60vw;
        height:auto;
        margin-left:40vw;
        margin-top: 8vw;
    }
    
    div.product>p{
        margin-left:10vw;
        margin-top: 10vw;
    }

    .order{
        position: absolute;
        width:40vw;
        height:auto;
        margin-left:4vw;
        margin-top:25vw;
    }

    div.order>p{
        margin-left:5vw;
        margin-top: 25vw;
    }
    
    .contact{
        position: absolute;
        width:40vw;
        height:auto;
        margin-left:52vw;
        margin-top: 69vw;
    }
    
    div.contact>p{
        margin-left:3vw;
        margin-top: 8vw;
    }
    
    .blog{
        position: absolute;
        width:40vw;
        height:auto;
        margin-left: 4vw;
        margin-top: 86vw;
    }
    
    div.blog>p{
        margin-left:40vw;
        margin-top: 26vw;
    }
}


@media screen and (min-width: 1080px) {
    body {    
        background-image: url(../img/bg_large.svg);
    }

    .img_home{
        position: absolute;
        width:40vw;
        height:auto;
        margin-left: 68vw;
        margin-top: 2vw;

    }

     .product{
        position: absolute;
        width:25vw;
        height:auto;
        margin-left:31.25vw;
        margin-top: 6vw;
    }
    
    div.product>p{
        margin-left:2vw;
        margin-top: 5vw;
    }

    .order{
        position: absolute;
        width:18vw;
        height:auto;
        margin-left:22.25vw;
        margin-top: 32vw;
    }
    
    div.order>p{
        margin-left:15vw;
        margin-top: 10vw;
    }
    
    .contact{
        position: absolute;
        width:25vw;
        height:auto;
        margin-left:56.25vw;
        margin-top: 24vw;
    }
    
    div.contact>p{
        margin-left:25vw;
        margin-top: 18vw;
    }

    .blog{
        position: absolute;
        width:18vw;
        height:auto;
        margin-left: 10vw;
        margin-top: 6vw;
    }
    
    div.blog>p{
        margin-left:0vw;
        margin-top: 16vw;
    }
}
   

   

