.productList{
    width: 100%;
    height:auto;
    border-radius: 4px;
    background-color: #F8F8F8;
}
.product-item {
    display: inline-block;
    height:auto;
    position:relative;
    vertical-align: top;
    background-color: #FBFBFB;
    border-radius: 6px;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.2), -2px -2px 2px rgba(0,0,0,0.2);
}

.product-item >img{
    width:100%;
    object-position: 50% 50%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.productDetailsPage{
    position: absolute;
    max-height:90vh;
    border-radius:6px;
    overflow-y: scroll;
}

.productDetails{
    width: inherit;
    height:inherit;
    overflow-y: scroll;
    background-color: #FBFBFB;
    padding: 16px 0;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.2), -2px -2px 2px rgba(0,0,0,0.2);
    z-index: 2;
}

.productDetails >img{
    width:100%;
    height:auto;
    object-position: 50% 50%;
    object-fit: cover;
    margin: 16px 0;
}

    
@media screen and (max-width: 640px) {
    .product-item{
        width:40vw;
        margin:12px 2vw;
    }

    .product-item >img{
        height:36vw;
    }
    
    .product-item >h3, .product-item >h6{
        margin:0;
        padding: 2vw;
    }
    
    .productDetails >h2, .productDetails >h5, .productDetails >p, .productDetails >form{
        margin:0;
        padding: 1vw 2vw;
    }
    
    .productDetailsPage{
            width:70vw;
            margin:5vw 15vw;
    }


}

@media screen and (min-width:641px) and (max-width: 1079px) {
    
    .product-item{
        width:26vw;
        margin:12px 2vw;
    }
    
    .product-item >img{
        height:24vw;
    }
    
    .product-item >h3, .product-item >h6{
        margin:0;
        padding: 2vw;
    }
    
    .productDetails >h2, .productDetails >h5, .productDetails >p, .productDetails >form{
        margin:0;
        padding: 1vw 2vw;
    }

    .productDetailsPage{
        width: 600px;
        margin:5vw calc((100% - 600px) / 2);
    }
}


@media screen and (min-width: 1080px) {
    .product-item{
        width:240px;
        margin:12px 1vw;
    }
    
    .product-item >img{
        height:220px;
    }
    
    .product-item >h3, .product-item >h6{
        margin:0;
        padding:16px;
    }
    
    .productDetails >h2, .productDetails >h5, .productDetails >p, .productDetails >form{
        margin:0;
        padding: 16px;
    }
    
    .productDetailsPage{
        width:750px;
        margin:5vw calc((100% - 750px) / 2);
    }

}